.main {
  text-align: center;

  h1 {
    margin-top: 50px;
  }
}

.logo img {
  width: 100px;
  padding: 30px;
}

.aboutBox {
  margin: 20px 0;
}

.about {
  color: blue;
  cursor: pointer;
  outline: none;
}
